pkgbase = ollama
	pkgdesc = Create, run and share large language models (LLMs)
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/jmorganca/ollama
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = cuda
	makedepends = git
	makedepends = go
	makedepends = setconf
	source = git+https://github.com/jmorganca/ollama#commit=832b4db9d4baf22497145dde55f334b292ed665f
	source = ggml::git+https://github.com/ggerganov/llama.cpp#commit=9e232f0234073358e7031c1b8d7aa45020469a3b
	source = gguf::git+https://github.com/ggerganov/llama.cpp#commit=bc9d3e3971e5607a10ff4c24e39568ce1ac87271
	source = gotest.patch::https://github.com/xyproto/ollama/commit/fddb303f23e68ef80a028257554979b22addb438.patch
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = 75cb9609585e5bdf7ba1714ae55ee77a769fa46973c3e06bec4e2bd3f965a1547f82aef963a0e37efaaaae8ea3e5cc4cc734b03fb9b056300e29e3cb715c8df3

pkgname = ollama

pkgname = ollama-cuda
	depends = cuda
	provides = ollama
	conflicts = ollama
