pkgbase = ollama
	pkgdesc = Create, run and share large language models (LLMs)
	pkgver = 0.1.8
	pkgrel = 1
	url = https://github.com/jmorganca/ollama
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = go
	makedepends = setconf
	source = git+https://github.com/jmorganca/ollama#commit=e21579a0f1548e2d1f77411af3df2037c1f144fe
	source = ggml::git+https://github.com/ggerganov/llama.cpp#commit=9e232f0234073358e7031c1b8d7aa45020469a3b
	source = gguf::git+https://github.com/ggerganov/llama.cpp#commit=9e70cc03229df19ca2d28ce23cc817198f897278
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = ollama
